@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CMS19 Bank system</h1>
    <p></p>
</div>
<div class="text-center">
    <p>Kod på <a href="">Github</a></p>
</div>
