
@{
    ViewData["Title"] = "ShowTime";
}

    <h1>Listing accounts for @User.Identity.Name</h1>
    <table>
        <tr><td>Kontonummer</td>
       <td>Belopp</td><td>Action</td></tr>
        <tr>
            <td>325165732</td>
            <td>120</td>
            <td><a href="/Home/SeeTransactions?id=325165732">Se transaktioner</a></td>
        </tr>
    </table>


