@model String
@{
    ViewData["Title"] = "ShowTime";
}

    <h1>Listing transactions for @Model</h1>
    <table>
        <tr>
            <td>Datum</td>
            <td>Belopp</td>
            <td>Vad</td>
        </tr>
        <tr>
            <td>2018-01-01 12:00:00</td>
            <td>5</td>
            <td>Uttag</td>
        </tr>
        <tr>
            <td>2018-01-01 13:00:00</td>
            <td>50</td>
            <td>Insättning</td>
        </tr>
        <tr>
            <td>2019-01-01 13:00:00</td>
            <td>20</td>
            <td>Uttag</td>
        </tr>
    </table>


